@import "~antd/dist/antd.css";

* {
    color: #ffffff;
}
.site-layout {
    min-height: 100vh;
    background-color: rgb(27, 25, 25);
    margin-left: 220px;
    overflow: hidden;
}
.ant-table-thead .ant-table-cell {
    background-color: rgb(82, 82, 82);
    color: white;
}

.ant-table table {
    font-size: 1rem;
}
.ant-form-item-label > label {
    color: white;
    font-size: medium;
}
.ant-table-tbody {
    background-color: rgb(27 25 25);
    color: #e8e8e8;
}

.ant-drawer-content {
    background: #383838;
}
.ant-input-number-input {
    color: black;
}
/* to be checked */
.ant-popover-inner {
    background-color: #404040;
}
.ant-popover-buttons .ant-btn-default {
    background-color: red;
}
/*  */

.ant-table-tbody > tr > td {
    border-bottom: 1px solid #2a2a2a;
}
.ant-table-tbody > tr.ant-table-row:hover > td {
    background: rgb(65, 67, 67) !important;
}
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
    background-color: #606060;
}
.ant-modal-footer .ant-btn-default {
    background-color: #606060;
}
